body {
  font-family: 'Roboto', sans-serif;
  background:;
  position: relative;
  font-weight:400px;
}

ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all .50s ease;
  -moz-transition: all .50s ease;
  -ms-transition: all .50s ease;
  -o-transition: all .50s ease;
  transition: all .50s ease;
}
.navbar-toggle {
  background-color: #FD6B04;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #FD6B04;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i{
  font-size: 30px;
}
/*===========header==========*/
/*?????navbar-start???????*/
.navbar-default {
  background-color: #1BA0E2;
  border-color: #FD6B04;
  border-bottom: 2px solid #FD6B04;
}
.navbar-default .navbar-nav>li>a {
color: #fff;
text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #BB5346;
}
/*??????navbar-end???????*/
/*home-image*/
.home-image img {
  margin-top: 30px;
  margin-bottom: 50px;
}
/*search*/
.col-sm-offset-5 .col-sm-4 {
  margin-bottom: 50px;
}
.btn-default:hover {
  background-color: #FD6B04;
  color: #fff;
}
/*============header-end=============*/

/*============index==========*/
/*welcome*/
.welcome h2 {
  font-family: all;
  margin-top: 200px;
}
.welcome h4 {
  font-family: monospace;
  margin-bottom: 50px;
}
/*?????info??????*/
.info .col-sm-offset-2 {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #DEDEDE;
}
.carousel-inner h4{
  color: #D31505;
}
.carousel-indicators li {
    display: inline-block;
    width: 11px;
    height: 11px;
}
.carousel-indicators {
    bottom: -25px;
}
.carousel-indicators .active {
    background-color: #FD6B04;
}
.carousel-indicators li {
    border-color: #1BA0E2;
}
#info-carousel{
  width: 63%;
  margin: 0 auto;
  margin-top: -10px;
}
#info-carousel p{
  color: #919191;
  font-style: italic;
  margin-bottom: 40px;
}

/*===========index-end=========*/

/*==========footer==========*/
/*footer-bottom*/
.col-sm-12 {
  background-color: #1BA0E2;
  margin-top: 50px;
}
.footer-bottom p {
  color: #fff;
}
.btn-default {
  background-color: #1BA0E2;
  color: #fff;
}
/*===========footer-end=========*/

/*coba*/
.panel-body .fa-clock-o {
  font-size: 60px;
  color: #FD6B04;
}
.server-time {
  margin-left: 5%;
}
.open-time {
  margin-left: 5%;
}
.close-time {
  margin-left: 5%;
}
/*coba-end*/
